<#@ template language="C#" debug="false" hostspecific="false" #>
<#@ output extension=".cs" #>
<# var alg = b2b; #>
<#@ include file="_Blake2Api.ttinclude" #><#@ include file="_Blake2Alg.ttinclude" #>
